.container {
    max-width: 1500px;
}
.row {
    margin: 0px -16px;
}
.col-sm-3 {
    padding: 0 16px;
}
.navbar {
    padding: 13px 8px;
    font-size: 20px;
  }
.navbar-brand__logo {
width: 120px;
margin-right: 8px;
}
.nav-item {
margin: 0px 6px 1px 0px;
}
.input-field {
position: relative;
margin-right: 20px;
}
.input-field input {
font-size: 20px;
padding: 8px 0px 8px 50px;
max-width: 300px;
}
.input-field__icon {
position: absolute;
left: 20px;
top: 50%;
transform: translateY(-50%);
color: #6c757d;
}
.btn-search {
font-size:  20px;
color: #4da2fd;
padding: 0 16px;
border-color: #4da2fd;
filter: brightness(90%);
}
/* slide-body */
.slide-body {
    width: 100%;
    background-color: #17a2b8;
}
.slide-body__content {
    display: flex;
    align-items: center;
}
.slide-body__content-wrap {
    padding-right: 60px;
}
.slide-body__title {
    color: white;
    font-size: 45px;
}
.slide-body__description {
    color: #8ad0db;
    font-size: 20px;
}
.slide-body__button {

}
.slide-body__button-1 {
    color: #4f3829;
    background-color: #ffc107;
    border: 2px solid #ffc107;
    border-radius: 4px;
    padding: 8px 20px;
    margin-right: 14px;
    font-weight: 500;
}
.slide-body__button-2 {
    color: #4f3829;
    background-color: #ffffff;
    border: 1px solid #90d3dd;
    border-radius: 4px;
    padding: 8px 20px;
    margin-right: 14px;
    font-weight: 500;
}
/* courses */
.card {
    overflow: hidden;
    width: 100% !important;
}
.courses {
    margin: 90px 0px;
}
.courses-title {
    margin: 0px 0px 40px;
    font-size: 35px;
}
.card-title {
    color: #168dff;
    max-width: 90%;
    cursor: pointer;
}
.card-content {
    color: #605c71;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 18px;
}
.card-img-top:hover {
    cursor: pointer;
}
.card-content-icon {
    margin-right: 5px;
}
.card-content-duration {
    margin-right: 5px;
}
.card-content-level {
    margin-right: 5px;
}
.card-price {
    font-size: 18px;
}
.card-price-current {
    color: #443f40;
    font-weight: 700;
}
.card-price-old {
    color: #90979d;
    font-weight: 500;
    position: relative;
}
.card-price-old::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #6c757d;
}
.footer-card {
    display: flex;
    background-color: #f7f7f7;
    padding: 16px 28px;
    align-items: center;
    justify-content: space-between;
}
.card-footer-teacher__avatar {
    border-radius: 50%;
    height: 44px;
    width: 44px;
    margin-right: 18px;
    cursor: pointer;
}
.card-footer-teacher__name {
    color: #605c71;
    font-weight: 500;
    cursor: pointer;
}
.bookmark {
    color: #605c71;
    font-size: 20px;
}
/* footer */
.footer-copy-right {
    font-size: 18px;
    font-weight: 500;
    color: #605c71;
}
.footer-infor a {
    text-decoration: none;
    font-size: 18px;
    margin: 0 12px;
}
@media only screen and (max-width: 1355px) {
    .card-title {
        min-height: 80px;
    }
}
@media only screen and (max-width: 1160px) {
    .card-title {
        min-height: 130px;
    }
}
